<html>
<head>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Dmitrii Volkov">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="ru" />
<meta name="viewport" content="width=device-width">


<link rel="icon" href="/<?=ADMIN_DIRNAME?>/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/<?=ADMIN_DIRNAME?>/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/<?=ADMIN_DIRNAME?>/favicon.ico" type="image/vnd.microsoft.icon">
<link href="/<?=ADMIN_DIRNAME?>/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/<?=ADMIN_DIRNAME?>/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
<link href="/<?=ADMIN_DIRNAME?>/css/style.css" rel="stylesheet" type="text/css">

<script src="https://www.google.com/recaptcha/api.js?hl=ru&onload=onloadCallback&render=explicit"></script>
<script src="/<?=ADMIN_DIRNAME?>/js/jquery.min.js"></script>
<script src="/<?=ADMIN_DIRNAME?>/js/jquery.cookie.js"></script>
<script src="/<?=ADMIN_DIRNAME?>/js/vendor/jquery.ui.widget.js"></script>
<script src="/<?=ADMIN_DIRNAME?>/js/jquery.iframe-transport.js"></script>
<script src="/<?=ADMIN_DIRNAME?>/js/jquery.fileupload.js"></script>
<script src="/<?=ADMIN_DIRNAME?>/js/bootstrap.min.js"></script>
<script src="/<?=ADMIN_DIRNAME?>/js/core.js"></script>
<script src="/<?=ADMIN_DIRNAME?>/js/main.js"></script>

<title><?=$pagetitle?></title>

<script src="/<?=ADMIN_DIRNAME?>/js/userjs.js"></script>

<script>
var admindir = '<?=ADMIN_DIRNAME?>';
</script>

</head>