<ul>
	<li><a href="/<?=ADMIN_DIRNAME?>/sait">Сайт</a></li>
	<li><a href="javascript:void(0);" onclick="showsubmenu(this);">Суды</a>
		<ul class="submenu">
			<li><a href="/<?=ADMIN_DIRNAME?>/sud/list">Список судов</a></li>
			<li><a href="/<?=ADMIN_DIRNAME?>/sud/list_location">Список субъектов</a></li>
			<li><a href="/<?=ADMIN_DIRNAME?>/sud/add">Добавить суд</a></li>
			<li><a href="/<?=ADMIN_DIRNAME?>/sud/add_location">Добавить субъект</a></li>
			<li><a href="/<?=ADMIN_DIRNAME?>/sud/add_fromfile">Из файла</a></li>
		</ul>
	</li>
	
	<li><a href="/<?=ADMIN_DIRNAME?>/orders">Заказы</a></li>	
	<li><a href="javascript:void(0);" onclick="showsubmenu(this);">Пользователи</a>
		<ul class="submenu">
			<li><a href="/<?=ADMIN_DIRNAME?>/users/list">Список</a></li>
			<li><a href="/<?=ADMIN_DIRNAME?>/users/add">Добавить</a></li>
		</ul>
	</li>
	<li><a href="/<?=ADMIN_DIRNAME?>/stats">Статистика</a></li>
	<li><a href="/<?=ADMIN_DIRNAME?>/settings">Настройка</a></li>
	<li><a href="/<?=ADMIN_DIRNAME?>/about">Справка</a></li>
</ul>
