<ul>
	<li><a href="javascript:void(0);" onclick="showsubmenu(this);">Настройки</a>
		<ul class="submenu">
			<li><a href="/<?=ADMIN_DIRNAME?>/settings/main">Основные</a></li>
			<li><a href="/<?=ADMIN_DIRNAME?>/sud/others">Разное</a></li>			
		</ul>
	</li>
	
	<li><a href="javascript:void(0);" onclick="showsubmenu(this);">Пользователи</a>
		<ul class="submenu">
			<li><a href="/<?=ADMIN_DIRNAME?>/users/add">Добавить</a></li>
			<li><a href="/<?=ADMIN_DIRNAME?>/users/list">Список</a></li>			
			<li><a href="/<?=ADMIN_DIRNAME?>/users/levels">Уровни доступа</a></li>
		</ul>
	</li>
	<li><a href="/<?=ADMIN_DIRNAME?>/stats">Статистика</a></li>
	<li><a href="/<?=ADMIN_DIRNAME?>/about">Справка</a></li>
</ul>
