/robots.txt
/cgi-bin/**
/template/**
/pictures/**
!/pictures/index.html
/admin/uploads/**
!/admin/uploads/index.html
/files/**
!/files/index.html
/js/main.js
/css/style.css
/system/config.php