Resources/cgi-bin/*
Resources/cgi-bin/*
Resources/cgi-bin/*
Resources/template/*
Resources/admin/template/*
Resources/pictures/*
Resources/admin/uploads/*
Resources/files/*
Resources/admin/js/main.js
Resources/js/main.js
Resources/css/style.css
Resources/admin/css/style.css