<div class="main_content"><div class="wrap">
случайный рецепт<br />
спланировать ужин<br />
<br />
А зачем ты заплакала, Аня, милочка, меня провожая? Пиши мне, голубчик, сюда. Пиши обо всех мелочах, но не очень большие письма (не утомляй себя) и не подписывайся всеми буквами (на случай если я уеду и письма останутся).
Аня, ясный свет мой, солнце мое, люблю тебя! Вот в разлуке-то все почувствуешь и перечувствуешь и сам узнаешь, как сильно любишь. Нет, уж мы с тобой начинаем сростаться.
Успокой же меня, авось завтра найду твое письмо, ты мое тоже, может, завтра получишь.
Не получив (следующего) второго от меня письма, не пиши!
Прощай, радость, прощай, свет мой. Немного нервы расстроены, но здоров и не так чтобы очень устал. А что-то ты?
Твой весь до последней частички и целую тебя бессчетно.
Любящий тебя ДостоевскийА зачем ты заплакала, Аня, милочка, меня провожая? Пиши мне, голубчик, сюда. Пиши обо всех мелочах, но не очень большие письма (не утомляй себя) и не подписывайся всеми буквами (на случай если я уеду и письма останутся).
Аня, ясный свет мой, солнце мое, люблю тебя! Вот в разлуке-то все почувствуешь и перечувствуешь и сам узнаешь, как сильно любишь. Нет, уж мы с тобой начинаем сростаться.
Успокой же меня, авось завтра найду твое письмо, ты мое тоже, может, завтра получишь.
Не получив (следующего) второго от меня письма, не пиши!
Прощай, радость, прощай, свет мой. Немного нервы расстроены, но здоров и не так чтобы очень устал. А что-то ты?
Твой весь до последней частички и целую тебя бессчетно.
Любящий тебя ДостоевскийА зачем ты заплакала, Аня, милочка, меня провожая? Пиши мне, голубчик, сюда. Пиши обо всех мелочах, но не очень большие письма (не утомляй себя) и не подписывайся всеми буквами (на случай если я уеду и письма останутся).
Аня, ясный свет мой, солнце мое, люблю тебя! Вот в разлуке-то все почувствуешь и перечувствуешь и сам узнаешь, как сильно любишь. Нет, уж мы с тобой начинаем сростаться.
Успокой же меня, авось завтра найду твое письмо, ты мое тоже, может, завтра получишь.
Не получив (следующего) второго от меня письма, не пиши!
Прощай, радость, прощай, свет мой. Немного нервы расстроены, но здоров и не так чтобы очень устал. А что-то ты?
Твой весь до последней частички и целую тебя бессчетно.
Любящий тебя ДостоевскийА зачем ты заплакала, Аня, милочка, меня провожая? Пиши мне, голубчик, сюда. Пиши обо всех мелочах, но не очень большие письма (не утомляй себя) и не подписывайся всеми буквами (на случай если я уеду и письма останутся).
Аня, ясный свет мой, солнце мое, люблю тебя! Вот в разлуке-то все почувствуешь и перечувствуешь и сам узнаешь, как сильно любишь. Нет, уж мы с тобой начинаем сростаться.
Успокой же меня, авось завтра найду твое письмо, ты мое тоже, может, завтра получишь.
Не получив (следующего) второго от меня письма, не пиши!
Прощай, радость, прощай, свет мой. Немного нервы расстроены, но здоров и не так чтобы очень устал. А что-то ты?
Твой весь до последней частички и целую тебя бессчетно.
Любящий тебя ДостоевскийА зачем ты заплакала, Аня, милочка, меня провожая? Пиши мне, голубчик, сюда. Пиши обо всех мелочах, но не очень большие письма (не утомляй себя) и не подписывайся всеми буквами (на случай если я уеду и письма останутся).
Аня, ясный свет мой, солнце мое, люблю тебя! Вот в разлуке-то все почувствуешь и перечувствуешь и сам узнаешь, как сильно любишь. Нет, уж мы с тобой начинаем сростаться.
Успокой же меня, авось завтра найду твое письмо, ты мое тоже, может, завтра получишь.
Не получив (следующего) второго от меня письма, не пиши!
Прощай, радость, прощай, свет мой. Немного нервы расстроены, но здоров и не так чтобы очень устал. А что-то ты?
Твой весь до последней частички и целую тебя бессчетно.
Любящий тебя ДостоевскийА зачем ты заплакала, Аня, милочка, меня провожая? Пиши мне, голубчик, сюда. Пиши обо всех мелочах, но не очень большие письма (не утомляй себя) и не подписывайся всеми буквами (на случай если я уеду и письма останутся).
Аня, ясный свет мой, солнце мое, люблю тебя! Вот в разлуке-то все почувствуешь и перечувствуешь и сам узнаешь, как сильно любишь. Нет, уж мы с тобой начинаем сростаться.
Успокой же меня, авось завтра найду твое письмо, ты мое тоже, может, завтра получишь.
Не получив (следующего) второго от меня письма, не пиши!
Прощай, радость, прощай, свет мой. Немного нервы расстроены, но здоров и не так чтобы очень устал. А что-то ты?
Твой весь до последней частички и целую тебя бессчетно.
Любящий тебя Достоевский
</div></div>