<div class="frame">
<h3>Новый пользователь</h3>
<form id="addnewadminuser_form">
<input type="text" placeholder="Имя пользователя" name="name"><br />
<input type="text" placeholder="email пользователя" name="email"><br />
<input type="password" placeholder="пароль пользователя" name="pass1"><br />
<input type="password" placeholder="повторите пароль" name="pass2"><br />
<div class="error_info" id="adduser_error_div"></div>
<input type="button" class="btn btn-success" value="Создать" onclick="addnewuser();">
</form>
</div>